<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_root_hr_empleoyees" name="Employees" sequence="10" groups="base.group_system,ms_render_account_management.group_vb_contabilidad_ms"/>

    <menuitem id="hr_recruitment.menu_hr_recruitment_root" name="Recruitment" parent="menu_root_hr_empleoyees" sequence="20"/>

    <menuitem id="menu_hr_employee" name="Employees" parent="menu_root_hr_empleoyees" sequence="30"/>
    <menuitem id="menu_hr_employee_user" name="Employees" action="hr.open_view_employee_list_my" parent="menu_hr_employee" sequence="10"/>
    <menuitem id="menu_hr_employee_org_chart" name="Org Chart" action="hr_org_chart.action_hr_employee_org_chart" parent="menu_hr_employee" sequence="15" />
    <menuitem id="hr_menu_contract" name="Contracts" action="hr_contract.action_hr_contract" parent="menu_hr_employee" sequence="20"/>
    <menuitem id="menu_hr_department_kanban" name="Departaments" action="hr.hr_department_kanban_action" parent="menu_hr_employee" sequence="30"/>
    <menuitem id="menu_resource_calendar" name="Working Schedules" action="resource.action_resource_calendar_form" parent="menu_hr_employee" sequence="40"/>
    <menuitem id="menu_hr_departure_reason_tree" name="Departure Reasons" action="hr.hr_departure_reason_action" parent="menu_hr_employee" sequence="50"/>
    <menuitem id="hr_skill_type_menu" name="Skills" action="hr_skills.hr_skill_type_action" parent="menu_hr_employee" sequence="60"/>
    <menuitem id="hr_contract_type" name="Employment Types" action="hr.hr_contract_type_action" parent="menu_hr_employee" sequence="70"/>

    <menuitem id="menu_hr_attendance_holidays" name="Absences / Staff Time" parent="menu_root_hr_empleoyees" sequence="40"/>
    <menuitem id="hr_attendance.menu_hr_attendance_root" name="Attendances" parent="menu_hr_attendance_holidays" sequence="10" />
    <menuitem id="hr_holidays.menu_hr_holidays_root" name="Time Off" parent="menu_hr_attendance_holidays" sequence="20" />

    <menuitem id="payroll.payroll_menu_root" name="Payroll" parent="menu_root_hr_empleoyees" sequence="50"/>
    <menuitem id="menu_hr_reports" name="Reports" parent="menu_root_hr_empleoyees" sequence="60"/>
    <menuitem id="hr_employee_skill_report_menu" name="Skills" action="hr_skills.hr_employee_skill_report_action" parent="menu_hr_reports" sequence="10"/>


    <record id="hr_expense.menu_hr_expense_root" model="ir.ui.menu">
        <field name="active" eval="False"/>
    </record>

    <record id="spreadsheet_dashboard.spreadsheet_dashboard_menu_root" model="ir.ui.menu">
        <field name="active" eval="False"/>
    </record>

     <!-- Contactos  -->
    <record model="ir.ui.menu" id="contacts.menu_contacts">
        <field name="active" eval="False"/>
    </record>

     <!-- Mesa de Ayuda  -->
    <record model="ir.ui.menu" id="mail.menu_root_discuss">
        <field name="active" eval="False"/>
    </record>

    <!--  Rastreador de Enlances menu  -->
    <record model="ir.ui.menu" id="utm.menu_link_tracker_root">
        <field name="active" eval="False"/>
    </record>

    <!--  Empleados Antiguo menu  -->
    <record model="ir.ui.menu" id="hr.menu_hr_root">
        <field name="active" eval="False"/>
    </record> 

    <!-- calendar menu  -->
    <record model="ir.ui.menu" id="calendar.mail_menu_calendar">
        <field name="active" eval="False"/>
    </record>

    <!-- apps menu  -->
    <record model="ir.ui.menu" id="base.menu_management">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]"/>
    </record>

    <!-- board menu  -->
    <record model="ir.ui.menu" id="spreadsheet_dashboard.spreadsheet_dashboard_menu_root">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]"/>
    </record>

    <!-- contacts menu  -->
    <record model="ir.ui.menu" id="contacts.menu_contacts">
        <field name="groups_id" eval="[(6,0,[ref('base.group_system')])]"/>
    </record>

</odoo>
